


html{
  background-color: black;
  background-image: url("demon.png"),url("demon.png");
  background-repeat: no-repeat,no-repeat;
  background-size: 25% 100%,25% 100%;
  background-attachment: fixed,fixed;
  background-position: left,right;
}


div{
  color: Orangered;
  background-color: black;
  text-align: center;
}
.title{
  width: 50%;
  margin: auto;
}
.gamebox{
  width: 50%;
  margin: auto;
}
.databox{
  width: 50%;
  margin: auto;
}

button{
  background-color: orangered;
  border:none;
  color: darkred;
  font-weight: bold;

}
#colorpicker{
  background-color: orangered;
  border: none
}
